In [2]:
# loading required libraries
import pandas as pd
import numpy as np

In [3]:
# loading the data
df=pd.read_csv('entire_data.csv')
df

,Date,fx rate,Uganda_imports,Tanzania_imports,Zambia_imports,Egypt_imports,S.Africa_imports,Zimbabwe_imports,Other_Africa_imports,UK_imports,...,Tanzania_exports,Zambia_exports,Egypt_exports,Rwanda_exports,Zimbabwe_exports,Ethiopia_exports,Somalia_exports,S.Africa_exports,DRC_exports,Other_Africa_exports
0,2023-12-01,154.09,2134,3470,340,4359,5125,450,3745,2435,...,5557,737,2475,3286,268,1472,1420,443,2283,6562
1,2023-11-01,152.03,4265,3816,533,4053,5969,203,5310,8551,...,6759,944,2689,3726,356,1254,1523,1020,3108,6786
2,2023-10-01,149.40,2728,3724,788,5526,7847,284,5504,3322,...,7437,879,3447,3652,301,1352,1918,548,2246,7511
3,2023-09-01,146.77,3092,3684,1053,3889,4690,54,4868,2810,...,6972,781,2685,3662,218,929,2255,344,2668,7131
4,2023-08-01,143.93,3419,4297,1156,4185,6338,372,4700,2829,...,6490,1007,3394,4226,162,1214,1654,1397,3076,7216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,1998-05-01,62.60,12,39,2,16,942,16,26,1836,...,1267,11,541,150,38,105,176,64,175,509
308,1998-04-01,59.61,5,33,14,9,1247,12,68,1582,...,1150,13,611,177,51,135,100,248,216,450
309,1998-03-01,60.13,6,79,18,18,1283,46,26,1987,...,1131,16,708,141,64,172,172,57,169,483
310,1998-02-01,60.52,4,25,8,17,1224,142,65,1725,...,1206,9,440,273,26,102,97,52,210,391
311,1998-01-01,61.16,2,39,13,16,1229,30,109,1871,...,1326,12,410,335,25,107,160,95,215,328